@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@600&family=Josefin+Sans&family=Nova+Square&family=Roboto:ital@0;1&family=Satisfy&display=swap');
.title{
    font-size: 8rem;
    color: rgb(131, 237, 224);
    margin-bottom: 5rem;
    text-shadow: 7px 10px rgb(30, 213, 190);
}


h2{
    font-size: 4rem !important;
    color: rgb(131, 237, 224) !important;
    margin-bottom: 4rem !important;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 5px;
    background:rgb(131, 237, 224);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(131, 237, 224,0.5);
    transform: scale(1.02);
    transition: all 100ms ease-in-out;
}

#question{
    text-align: center;
    text-shadow: 2px 1px rgb(30, 213, 190) ;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;
    font-weight: bold;
    align-items: center;
    background-color: rgba(30, 213, 190, 0.9);
    box-shadow: 0px 0px 5px 0px rgba(25, 172, 152, 0.9);
}

.choice-text{
    padding: 2rem;
    width: 100%;
    color: white;
    font-size: 2.8rem;
}

.correct{
    background-color: rgb(131, 224, 131);
}

.incorrect{
   background-color: rgb(218, 63, 63);
}

#hud{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-top: 60px;
    background-color: rgb(131, 237, 224);
    border: 1px solid rgb(30, 213, 190);
    padding: 25px 30px 25px;
    border-radius: 7px;
}

.time-text{
    margin-right: 20px;
    font-size: 32px;
    font-weight: 600;
    user-select: none;
}

#time-sec{
    font-size: 32px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 50px;
    background: rgba(30, 213, 190, 0.959);
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    user-select: none;
}


.hud-prefix{
    text-align: center;
    font-size: 3.8rem;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(131, 237, 224);
}

.hud-main-text{
    text-align: center;
    font-size: 120px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(30, 213, 190);
}

#grey-border{
    margin-top: 120px;
    border-top: 1px solid lightgray;
}

#difficulty-indicator{
    font-family: 'Satisfy', cursive;
    float: right;
    font-size: 2.5rem;
    margin-top: 50px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: capitalize;
    outline-style: outset;
    outline-color: rgb(199, 199, 199);
    color: grey;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(30, 213, 190, 0.9);
}

#difficulty-indicator:hover{
    cursor: pointer;
    transition: transform 200ms;
    transform: scale(1.03);
}

.footer-item{
    width: 50%;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: solid rgb(131, 237, 224);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 30px;
}

#progressBarFull{
    height: 3rem;
    background: rgb(131, 237, 224);
    width: 0%;
}

#progressText{
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    color: grey;
}


#Questions{
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);
    padding: 50px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 100px;
    position: relative;
}

#compliment{
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;  
}


@media screen and (max-width: 768px){
    .choice-container{
        min-width: 730px;
    }
}
