
#leader-board{
    font-size: 180px;
    color: rgb(131, 237, 224);
    margin-bottom: 5rem;
    text-shadow: 7px 10px rgb(30, 213, 190);
    margin-top: 100px;
}

#highScoresList{
    list-style: none;
    margin-bottom: 4rem;
    color: grey;
    font-weight: bold;
    border-width: 20px;
    border-style: ridge;
    box-shadow: 1.4rem 1.4rem 1.4rem 0 rgb(131, 237, 224,0.5);
    border-color: rgba(255, 255, 0, 0.575);
    padding: 100px 350px 450px;
}

.high-score{
    margin-bottom: 0.5rem;
    margin-top: 30px;
    border-bottom: 3px solid lightgray;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 55px;
}