@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=Fredericka+the+Great&family=Lobster&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');

:root{
    background-color: rgb(216, 250, 245);
    margin-top: 100px;
    zoom: 50%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

h1{
    font-size: 5.4rem;
    color: rgb(131, 237, 224);
    margin-bottom: 5rem;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.main-title{
    font-size: 8rem;
    color: rgb(131, 237, 224);
    text-shadow: 7px 10px rgb(30, 213, 190);
    margin-bottom: 300px;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 200px;
    border-style: ridge;
    border-width: 30px;
    border-color: rgb(131, 237, 224);
    margin-top: 150px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 100px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justigy-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    box-shadow: 0 1.4rem 1.4rem 0 rgba(131, 237, 224,0.6);
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgb(131, 237, 224), 0%, rgb(131, 237, 224) 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1.9rem 1.4rem 0 rgba(131, 237, 224,0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn{
    background: rgb(231, 226, 73);
    margin-top: 25px;
    box-shadow: 0 1.4rem 1.4rem 0 rgba(240, 221, 6 ,0.5);
}

#highscore-btn:hover{
    cursor: pointer;
    box-shadow: 0 1.9rem 1.4rem 0 rgba(240, 221, 6 ,0.5);
}

.fa-crown{
    font-size: 2.5rem;
}

/* End Page */
 .end-form-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 100px;
 }

 input{
     width: 30rem;
     padding: 1.5rem;
     font-size: 1.8rem;
     border: none;
     box-shadow: 0 0.1rem 1.4rem 0 rgba(131, 237, 224,0.5);
 }

 input::placeholder{
     color: #aaa;
     text-align: center;
 }

 #username{
     margin-bottom: 3rem;
     width: 170%;
     margin-top: 70px;
     color: rgb(72, 173, 162);
     font-weight: bold;
     font-size: 45px;
     outline-style: double;
     outline-color: rgb(59, 146, 136);
     outline-width: 10px;
 }

 #saveScoreBtn{
     border:none;
 }

 .fa-house{
    font-size: 2rem;
 }

#finalscore {
    font-size: 180px;
    color: rgb(182, 0, 0);
    font-family: 'Rubik Bubbles', cursive;
}

.end-class{
    position: relative;
}

.end-class h1{
    position: absolute;
    z-index: 1;
}